{% extends "layout.html" %}

{% block title %}
  <title>Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
{% endblock %}


{% block content %}
  <div id="welcome" class="d-flex flex-column align-items-center justify-content-between">
    <div class="mx-auto main" style="margin-top: 23%">
      <span>H</span>
      <span>e</span>
      <span>l</span>
      <span>l</span>
      <span class="letter"></span>
      <span>.</span>
    </div>
    <div class="section07" style="margin-bottom: 70px">
      <a id="scroll" href="#aboutme"><span></span><span></span><span></span></a>
    </div>
  </div>

  <div id="aboutme" class="container-fluid aboutme-cont">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-10">
        <h1 id="name">Bennie</h1>
        <br>
        <p>College of Tunku Abdul Rahman, Kuala Lumpur</p>
        <p>Diploma in Computer Science and Computer Mathemathics</p>
      </div>
    </div>
  </div>

  <div id="content" class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="https://i.pinimg.com/564x/98/20/e2/9820e235ca7901d879e232f801b99f0b.jpg" width="100%" class="img-rounded">
      </div>

      <div class="col-sm-8 content-cont"> <!--col-sm-offset-2-->
        <h1>About Me</h1>
        <p>Hi! My name is <span class="lead">Soh Ben Nie</span>, people usually just call me Ben so feel free to call me that. I am currently in my second year of diploma in computer science
          at <a class="ref" href="https://tarc.edu.my/" target="_blank">TARC, KL</a> and I love it!(<small>maybe:/</small>)</p>
        <br>
        <p>I am from Malaysia and I was raised in a town called Kajang. I am currently living in Setapak, Kuala Lumpur with my relative since my college is very close from here.</p>
        <br>
        <p>I had discovered the world of programming when I was 16 years old. I love playing games and one day I found out about game cheating and from that day on I started to learn programming
          trying to create a cheat for myself and that's how my journey begin...</p>
        <br>
        <p>This is my first time making an web app, and this website will always be a work in progress project for me.</p>
        <blockquote class="blockquote text-center">
        <p class="mb-0">Code is like humor. When you have to explain it, it’s bad.</p>
        <footer class="blockquote-footer"><cite title="Source Title">Cory House</cite></footer>
        </blockquote>
      </div>

    </div>
    <div id="mywork" class="row">
      <div class="mx-auto">
        <h1>My Work</h1>
      </div>
      <div class="card-deck">
        <div class="card">
          <div class="card-body text-left">
            <h3>Steam Account Stats</h3>
            <p class="card-text">Language:
              <i class="devicon-python-plain-wordmark colored langico"></i>
            </p>
            <p class="card-text">Editor:
              <i class="devicon-atom-original langico"></i>
            </p>
            <p class="card-text">
              My first ever project that is using API, in this case SteamAPI.
              In 2019, I played alot of HVH in CSGO and hence I had alot of accounts and yes, alot were banned too.
              I got this idea of checking the account's banned status for me instead of logging into steam.
              I used tkinter to display all the accounts that I can add through it too and I was using CSV file to store all the information.
            </p>
          </div>
          <div class="card-footer">
          <a href="{{ url_for('steamAccstats') }}" class="btn">Visit</a>
          </div>
        </div>
        <div class="card">
            <div class="card-body text-left">
              <h3>Discord Bot</h3>
              <p class="card-text">Language:
                <i class="devicon-python-plain-wordmark colored langico"></i>
              </p>
              <p class="card-text">Editor:
                <i class="devicon-atom-original langico"></i>
              </p>
              <p class="card-text">
                Small project mainly for my discord server with other friends.
                Purpose is to show our R6S profile in the server instead of using r6tabs, But I am using the API from them.
              </p>
            </div>
            <div class="card-footer">
            <a href="#" class="btn">Visit</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-left">
              <h3>Portfolio Web App</h3>
              <p class="card-text">Language:
                <i class="devicon-python-plain-wordmark colored langico"></i>
                <i class="devicon-postgresql-plain-wordmark colored langico"></i>
                <i class="devicon-javascript-plain colored langico"></i>
                <i class="devicon-css3-plain-wordmark colored langico"></i>
                <i class="devicon-html5-plain-wordmark colored langico"></i>
              </p>
              <p class="card-text">Editor:
                <i class="devicon-atom-original langico"></i>
              </p>
              <p class="card-text">
                First time making an Web App and I decided to make it as my portfolio and also integrating my Steam Project into it.
                That is why I am using database too. But I will slowly adding more of my small project into here too.
              </p>
            </div>
            <div class="card-footer">
            <a href="https://github.com/BenGorrr/Portfolio" class="btn" target="_blank">Visit</a>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block script %}
<script>
$('#scroll').on('click', function(e) {
  e.preventDefault();
  $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
});
</script>
{% endblock %}
