{% extends "layout.html" %}

{% block title %}
  <title>Steam Checker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/steamAccstats.css') }}">
{% endblock %}

{% block aftername_content %}
  <h3>Steam Account Status Checker</h3>
{% endblock %}

{% block content %}
  <div class="container-fluid min-vh-100">
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm-10 ">
            <h1 class="display-4">Account List:</h1>
          </div>
          <div class="col-sm-2 d-flex flex-column nopadding">
            <div class="mt-auto btn-group" style="margin-bottom:5px;">
              <!-- Trigger the modal with a button -->
            <button class="btn btn-primary" type="button" name="addBtn" data-toggle="modal" data-target="#addModal">Add</button>
            <button class="btn btn-danger" type="button" name="dltBtn" data-toggle="modal" data-target="#selModal">Delete</button>
            </div>
          </div>
        </div>

        <!--ALERT-->
        <div class='alert alert-success fade show' id="success-alert">
            Successful Add!
        </div>
        <div class='alert alert-warning fade show' id="failed-alert">
            Invalid Steam ID.
        </div>

        <div class="row">
          <div class="table-responsive">
            <table class="table table-hover table-bordered table-light" id="SteamTable">
              <caption class="text-center">All the information except <i>Username</i> and <i>Password</i> are from steam
                <a href="https://developer.valvesoftware.com/wiki/Steam_Web_API" target="_blank"> API</a></caption>
                <thead>
                  {%- for column in columns %}
                     <th>{{ column }}</th>
                  {%- endfor %}
               </thead>
               <tbody >
                  {% set ns = namespace(count = 1) %}
                   {%- for acc in accounts %}
                      <tr>
                        <td>{{ns.count}}</td>
                        <td><a href="https://steamcommunity.com/profiles/{{acc.steamID}}" target="_blank">{{acc.steamID}}<a></td>
                        <td>{{acc.username}}</td>
                        <td class="pw hidetext">{{acc.password}}</td>
                        <td>{{acc.community_banned}}</td>
                        {% if acc.vac_banned %}
                        <td style="color:red"><strong>{{acc.vac_banned}}</strong></td>
                        {% else %}
                        <td>{{acc.vac_banned}}</td>
                        {% endif %}
                        <td>{{acc.numberOfVACBans}}</td>
                        <td>{{acc.daysSinceLastBan}}</td>
                        <td>{{acc.personaname}}</td>
                      </tr>
                    {% set ns.count = ns.count + 1 %}
                    {% else %}
                      <tr>
                        There is 0 account in the list.
                      </tr>
                   {%- endfor %}
           </tbody>
            </table>
          </div>
          <div class="checkbox">
            <label><input id="showPw"type="checkbox" onclick="showPass()"> Show Password</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="addAccForm" name="addAccForm" class="form" action="{{ url_for('handle_new_acc') }}" method="post">
              <div class="form-group">
                <label for="steamid" >Steam ID64:</label>
                <input id="steamid" type="text" class="form-control" name="steamid" require pattern="[0-9]{17}" title="17 digits STEAMID64">
              </div>
              <div class="form-group">
                <label for="username">Username:</label>
                <input id="username" type="text" class="form-control" name="username">
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" type="password" class="form-control" name="password">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="form_submit" type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Select Table Modal -->
    <div class="modal fade" id="selModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Click on them to select:</p>
            <table class="table table-bordered" id="SelSteamTable">
                <thead>
                  {%- for column in selColumns %}
                     <th>{{ column }}</th>
                  {%- endfor %}
                </thead>
                <tbody >
                  {% set ns = namespace(count = 1) %}
                   {%- for acc in accounts %}
                      <tr>
                        <td>{{ns.count}}</td>
                        <td>{{acc.steamID}}</td>
                        <td>{{acc.username}}</td>
                        {% if acc.vac_banned %}
                        <td style="color:red"><strong>{{acc.vac_banned}}</strong></td>
                        {% else %}
                        <td>{{acc.vac_banned}}</td>
                        {% endif %}
                        <td>{{acc.personaname}}</td>
                      </tr>
                    {% set ns.count = ns.count + 1 %}
                    {% else %}
                      <tr>
                        There is 0 account in the list.
                      </tr>
                   {%- endfor %}
                 </tbody>
          </table>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="delete_sel"type="button" class="btn btn-primary">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block script %}
<script>
function showPass() {
  var x = document.getElementsByClassName("pw");
  var checked = document.getElementById("showPw").checked;
  if (checked) {
    for (a = 0; a < x.length; a++) {
            x[a].classList.remove("hidetext");
        }
  } else {
    for (a = 0; a < x.length; a++) {
            x[a].classList.add("hidetext");
        }
  }
}

$(document).ready(function(){
  $('#project').addClass('active').siblings().removeClass('active');
});

//$(".alert").hide(); //hide all the alert
var selectedID;

$("#SelSteamTable tr").click(function(){
  $(this).addClass('selected').siblings().removeClass('selected');
  selectedID = $(this).find('td:nth-child(2)').html();
  //console.log(value);
});

$('#selModal').on('hidden.bs.modal', function (e) {
  //console.log($('#selModal').hasClass('show'));
  $('#SelSteamTable tr').removeClass('selected');
})

$('#delete_sel').click(function(){
  $('#selModal').modal('hide'); //hide the modal
  //we got the ID, now send to server to delete it from database, then close modal, refresh table
  $.ajax({
    data: {
      steamid : selectedID
    },
    type : 'POST',
    url : '/delete_acc'
  }).done(function(data) {
    if (data.error) {
      $('#failed-alert').text(data.error).show()
      $("#failed-alert").fadeTo(2000, 500).slideUp(500, function(){
          $(".alert").slideUp(500);
      });
    } else {
      //$( "#SteamTable" ).load( "steamAccstats.html #SteamTable" );
      //location.reload();
      console.log(data.msg)
      setTimeout(function(){ location.reload(); }, 1000);
      $('#success-alert').text(data.msg).show()
      $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
          $(".alert").slideUp(500);
          //location.reload();
      });
    }
  });
});


$('#form_submit').click(function() {
    $('#addModal').modal('hide'); //hide the modal
    var steamid = $('#steamid').val() //JS simple length validation
    if (steamid.length != 17) {
      $('#failed-alert').show()
      $("#failed-alert").fadeTo(2000, 500).slideUp(500, function(){
          $(".alert").slideUp(500);
      });
    } else {
      $.ajax({
          data : {
            steamid : $('#steamid').val(),
            username : $('#username').val(),
            password : $('#password').val()
          },
          type : 'POST',
          url : '/handle_new_acc'
      })
      .done(function(data) {
          if (data.error) {
            $('#failed-alert').text(data.error).show()
            $("#failed-alert").fadeTo(2000, 500).slideUp(500, function(){
                $(".alert").slideUp(500);
            });
          } else {
            //location.reload();
            console.log(data)
            $("#addAccForm")[0].reset();
            setTimeout(function(){ location.reload(); }, 1000);
            $('#success-alert').show()
            $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                $(".alert").slideUp(500);
            });
          }
      });
      //$('#addAccForm').submit();
    } //end else
});
</script>
{% endblock %}
